.mainContaier{
    /* width:50wh;
    background-color: aliceblue;
    margin: auto; */
    background-color:aliceblue;
    height:100%
}
.registerContainer{
    /* margin-top: 20px; */
    padding: 10px;
    width: 40vw;
    height: 100%; 
    background-color: rgb(183, 200, 214);
    border-radius:10px;
   
}

.eleRow{
    margin: 0px 10px 0px 10px;
    height: 40px;
}
.btnregister{
    /* background: #fff;
    color: dodgerblue; */
    border:solid 1px dodgerblue;
    border-radius: 33px;
    transition: all .38s ease-in-out;
    cursor: pointer;
}
.spinner{
    
        float:left; 
        width: 24px; 
        height: 24px; 
        margin: 5px 10px 0px 0px;
      
}